@keyframes anim {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

@keyframes anim2 {
    from {
        color: rgb(106, 106, 255);
    } to {
        color: rgb(0, 98, 255);
    }
}

@keyframes pop {
    from {
        transform: translateX(-100px);
    } to {
        transform: translateX(0px);
    }
}

#title {
    text-align: center;
    background-image: linear-gradient(-45deg, rgb(106, 106, 255), rgb(0, 98, 255));
    background-size: 1200% 1200%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim 6s infinite;
}

.sommaire {
    font-size: 35px;
    background-image: linear-gradient(-45deg, rgb(106, 106, 255), rgb(0, 98, 255));
    background-size: 1200% 1200%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim 6s infinite;
    animation: anim2 6s infinite;
    list-style-type: disc;
}

.sommaire li {
    animation: pop 1s 1;
}